a {
	color: #ff2c10;
}
a:hover {
	text-decoration: underline;
}
.staticHeader {
	background-color: white;
	height: 113px;
}
a.staticLogo {
	display: block;
	padding: 24px;
	float: left;
}
.titleStrip {
	height: 46px;
	background-image: url(/images/NYClanding/topBar.jpg);
	background-repeat: repeat-x;
}
.titleStrip h1 {
	height: 46px;
	font-size: 1.5em;
	font-weight: 300;
	color: #030404;
	text-transform: uppercase;
	display: block;
	width: 438px;
	margin: auto;
	background-image: url(/images/NYClanding/topBar_noLines.jpg);
	background-repeat: repeat-x;
	box-sizing: border-box;
	padding: 12px;
	text-align: center;
	text-shadow: 1px 1px 1px white;
}
.marquee {
	height: 383px; /*background-image: url(/images/NYClanding/marqueeBG.jpg);*/
	background-repeat: no-repeat;
	position: relative;
	margin-top: 2px;
}
.marquee h1 {
	position: absolute;
	color: white;
	text-transform: uppercase;
}
.marquee h1.save {
	left: 78px;
	top: 143px;
	font-size: 7.5em;
	font-weight: 500;
}
.marquee h1.with {
	left: 598px;
	top: 204px;
	font-size: 3em;
	font-weight: 300;
}
.marquee h1.benefits {
	left: 148px;
	top: 283px;
	font-size: 5.4em;
	font-weight: 500;
}
.staticContent {
	position: relative;
	background-image: url(/images/NYCLanding/greybars.jpg);
	background-repeat: repeat-x;
	background-position: left 787px;
}
span.illumination {
	font-weight: 500;
	font-size: 1.8em;
}
.orangeArrow {
	background-image: url(/images/NYClanding/orangeArrow.png);
	width: 83px;
	height: 84px;
	position: absolute;
	top: -20px;
	left: -45px;
}
.staticLeft {
	float: left;
	z-index: 1;
	background: white;
	font-size: 1.1em;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #5d5d5d;
	width: 753px;
	padding: 33px 33px 80px 33px;
	margin-left: 120px;
	position: relative;
	border-radius: 0px 0px 20px 20px;
	font-family: DinNext, Arial, Helvetica, Sans-Serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
}
.staticLeft p {
	padding: 0px 20px;
	margin-bottom: 25px;
}
.staticRight {
	float: left;
	box-sizing: border-box;
	width: 300px;
	margin-left: 25px;
}
.staticRight img {
	max-width: 100%;
}
a.learnMore {
	margin-left: 20px;
	font-size: 1.3em;
	text-decoration: underline;
	font-weight: 500;
}
h2.staticSubTitle {
	color: white;
	background-color: #496263;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	padding: 10px 0px;
	display: block;
	border-radius: 12px 0px;
	margin: 45px 0px 20px;
}
ul.dotArrowList {
	margin: 15px 0px;
	padding: 0px;
}
ul.dotArrowList li {
	background-image: url(/images/NYClanding/dotarrow.png);
	background-repeat: no-repeat;
	background-position: 20px 10px;
	list-style-type: none;
	padding: 10px 0px 10px 65px;
	margin: 30px 0px;
}
ul.dotArrowList li span {
	font-weight: 500;
	color: black;
}
a.bigContactBtn {
	display: block;
	width: 669px;
	height: 95px; /*background-image: url(/images/NYClanding/btn_contact.png);*/
	margin-top: 30px;
}
.sidebarImg {
	margin: 20px 0px;
}
.sidebarImg img {
	border-radius: 12px 0px;
}
.bottomContent {
	width: 84%;
	margin: 40px 0px 40px 120px;
	font-family: DinNext, Arial, Helvetica, Sans-Serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
}
.bottomContent p {
	margin-bottom: 20px;
}
.footer {
	height: 85px;
	background-color: black;
	color: white;
}
.copyright {
	float: left;
	margin-left: 30px;
	margin-top: 41px;
}
.footerLogo {
	float: right;
	margin-right: 30px;
	margin-top: 27px;
}
.footerBottom {
	background-image: url(/images/NYClanding/orangeStripes.jpg);
	background-repeat: repeat-x;
	height: 27px;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/** Responsive Limits **/


/* Container */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.staticLeft {

	
}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}